body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #efed40;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 65px;
  font-family: monospace;
}
